# TUPLE - ALL CONCEPTS - 23RD APRIL

In [4]:
tup1=()

In [6]:
tup1

()

In [8]:
tup2=(10,30,60)

In [10]:
tup2

(10, 30, 60)

In [12]:
tup3=(10.77,'one',(50,100))

In [14]:
tup3

(10.77, 'one', (50, 100))

In [16]:
len(tup3)

3

# Tuple Indexing

In [19]:
tup2[0]

10

In [29]:
tup3[1]

'one'

In [31]:
tup3[1][0]

'o'

In [35]:
tup3[-1]

(50, 100)

In [37]:
tup3

(10.77, 'one', (50, 100))

In [39]:
mytuple=('one','two','three','four','five')

In [41]:
mytuple

('one', 'two', 'three', 'four', 'five')

In [43]:
mytuple[0:3]

('one', 'two', 'three')

In [45]:
mytuple[1:4]

('two', 'three', 'four')

In [47]:
mytuple[:3]

('one', 'two', 'three')

In [49]:
mytuple[:2]

('one', 'two')

In [59]:
mytuple[:-1]

('one', 'two', 'three', 'four')

In [55]:
mytuple[:-2]

('one', 'two', 'three')

In [57]:
mytuple[-2:]

('four', 'five')

In [61]:
mytuple[-1:]

('five',)

In [63]:
mytuple[:]

('one', 'two', 'three', 'four', 'five')

# REMOVE & CHANGE ITEMS

In [87]:
mytuple=('one','two','three','four','five')

In [89]:
mytuple

('one', 'two', 'three', 'four', 'five')

In [93]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [103]:
mytuple[0]=1

TypeError: 'tuple' object does not support item assignment

In [99]:
mytuple

('one', 'two', 'three', 'four', 'five')

In [115]:
mytuple1=(1,2,3,4,5,6)

In [117]:
mytuple1

(1, 2, 3, 4, 5, 6)

In [121]:
del mytuple1

NameError: name 'mytuple1' is not defined

# LOOP

In [126]:
mytuple=('one','two','three','four','five')

In [128]:
mytuple

('one', 'two', 'three', 'four', 'five')

In [130]:
for i in mytuple:
    print(i)

one
two
three
four
five

In [134]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')

# TUPLE MEMBERSHIP

In [139]:
mytuple=('one','two','three','four','five')

In [141]:
mytuple

('one', 'two', 'three', 'four', 'five')

In [147]:
if 'one' in mytuple:
    print('one is present in the mytuple')
else:
    print('one is not present in the mytuple')

one is present in the mytuple

In [149]:
'three' in mytuple

True

In [151]:
'ten' in mytuple

False

# INDEX POSITION

In [154]:
mytuple

('one', 'two', 'three', 'four', 'five')

In [156]:
mytuple.index('two')

1

In [158]:
mytuple.index('five')

4

In [162]:
mytuple.index('one')

0

# SORTING

In [165]:
mytuple2=(2,33,31,21,43.56,88,76,93,35)

In [167]:
mytuple2

(2, 33, 31, 21, 43.56, 88, 76, 93, 35)

In [173]:
sorted(mytuple2)

[2, 21, 31, 33, 35, 43.56, 76, 88, 93]

In [175]:
sorted(mytuple2,reverse=True)

[93, 88, 76, 43.56, 35, 33, 31, 21, 2]

## 24th april